[2020-08-09 21:59] braden-clerk opened #4 "install issues"
Hey this looks great, but having trouble installing it (new to react && docusaurus). followed the steps on the readme, but it's just 404ing -- is there a build step i need to run?

[2020-08-10 03:25] bourdakos1 commented on #4
Does the Docusaurus UI show up with a 404? Or is it just a blank white page 404?

If you run “yarn start” or “npm run start” it should do a dev build and serve the pages on localhost. You can run “yarn build” to build the static pages.

[2020-08-10 14:50] braden-clerk commented on #4
Hey thanks for the reply! I actually figured it out.
the routeBasePath in this preset for some reason messed with docusaurus-plugin-api ... removing that routeBasePath resolved it

`    [
      "@docusaurus/preset-classic",
      {
        docs: {
          routeBasePath: "",
          sidebarPath: require.resolve("./sidebars.js"),
        },
        theme: {
          customCss: require.resolve("

[2020-08-10 14:50] #4 closed

[2020-08-31 15:29] ymolists opened #5 "Supporting more than one openapi spec"
It seems right now the plugin only supports one spec at a time. I am wondering if it would be possible to add more than one openapi spec at a time. The alternative is to hos the api documentation in multiple docusaurus instances which is not ideal in all cases.

Thank you so much for considering this !!!

[2020-09-08 09:24] guillermotti commented on #5
Yes! That would be awesome. We have different APIs, each one with a different OpenAPI definition.

We would like to select the endpoint for each OpenAPI definition like:

`plugins: [
  ["docusaurus-plugin-openapi",
  {
    openapiPath: require.resolve("./definition1.json"),
  },
  {
    openapiPath: require.resolve("./definition2.json"),
  }],
]`

And this could be resolved at **/api/definition1**

[2020-09-08 09:51] guillermotti commented on #5
Well, I realised that the plugin already provides this functionality:

` plugins: [
    'docusaurus-plugin-sass',
    '@cmfcmf/docusaurus-search-local',
    ["docusaurus-plugin-openapi", {
      id: 'plugin-1',
      openapiPath: require.resolve("./openapi1.json"), routeBasePath: 'cars',
    }],
    ["docusaurus-plugin-openapi", {
      id: 'plugin-2',
      openapiPath: require.resolve("./openapi

[2020-09-08 10:04] guillermotti commented on #5
I added this PR to improve README doc: https://github.com/cloud-annotations/docusaurus-plugin-openapi/pull/6

[2020-09-08 12:36] bourdakos1 commented on #5
Thanks for the help @guillermotti 😁 I merged your PR

[2020-09-08 12:36] #5 closed

[2020-10-02 16:56] lauzierj opened #7 "I'd love to contribute!"
Hi there,

I wasn't sure what the best way to reach out was, but I'd love to contribute.

I noticed that the version published to npm was 0.0.12 while what's in master is 0.0.10.

I'd like to add support for OpenAPI's `allOf` syntax.

[2020-10-02 17:20] bourdakos1 commented on #7
oh yup thanks, forgot to push my committed changes haha :)

Feel free to open a PR, I'd be more than happy to merge any enhancements

[2020-10-26 21:42] sserrata opened #8 "Render OAS info as first doc"
I'm interested in rendering the `info` section of a spec file as the first doc displayed. This would allow for displaying the `title`, `version`, `description` and other metadata to help describe the API to the end user. Is there any way to accomplish this with the plugin today? Thanks!

[2020-10-26 21:47] bourdakos1 commented on #8
Not really, but I would be happy to merge a pull request adding the feature

[2021-02-28 19:18] LeoMouyna opened #10 "Allow expandable row on Status Code table"
For now the only way to know how returned data looks like consist in waiting for a query.

Could it be possible to add an expand button at the end of a status row that would show a response example ?
We can already see what a request body looks like in `docusaurus-plugin-openapi/src/theme/ApiDemoPanel/Body/index.js`, is it possible to also display how response body looks like on `docusaurus-plugin

[2021-02-28 23:00] bourdakos1 commented on #10
Yea I think that makes sense, I’d be happy to merge a PR if you can get something working

[2021-03-01 08:45] LeoMouyna commented on #10
I'll give a try but I might need help on css part for a wonderful display 😄

[2021-03-17 16:05] avaidyam opened #16 "Render OAS schemas"
Right now, in addition to the OAS info not being rendered as an initial page (see #8), the OAS schemas section is not rendered ass well. It would probably be a single sidebar category called "Schemas" with each model underneath it (and the demo panel would be disabled for these pages).

[2021-03-17 16:07] avaidyam commented on #10
Here's an example of what I think would be helpful as part of the status code/response body table (using RapiDoc).
<img width="1036" alt="Screen Shot 2021-03-17 at 11 56 58 AM" src="https://user-images.githubusercontent.com/1361003/111499472-5e3e3780-8719-11eb-8021-026bf7e43fca.png">
<img width="1036" alt="Screen Shot 2021-03-17 at 11 56 38 AM" src="https://user-images.githubusercontent.com/136100

[2021-03-17 16:57] #7 closed

[2021-03-23 20:44] pcapanna opened #19 "Error from ApiStatusCodesTable"
Im using this as dependency for another project and tried updating to v0.0.13 but encontered an error when trying to display the API.

It doesn´t ever show the page. I tried downloading this example and compile it myself but no changes. Even the example seems broken to me. I don´t know why you guys are not having the same error as me.. I tracked the error back to commit 193710b088a97fd7bf5f5641e51

[2021-03-23 20:58] bourdakos1 commented on #19
Oh yea I think this error was introduced in the PR we just merged

[2021-03-23 21:00] bourdakos1 commented on #19
You fix looks good to me, happy to merge a PR if you open one

[2021-03-24 13:19] MiguelPreto opened #21 "Error in openapiPath?"
Hey there, I don't know if this is a issue or if I did something wrong, but, I followed the steps and I get an error:
<img width="686" alt="Screenshot 2021-03-24 at 13 18 35" src="https://user-images.githubusercontent.com/74260097/112316922-7545d200-8ca3-11eb-87dc-a9b3c2d8825b.png">

I started to play some things and I added a json stringify in the openapiPath:
<img width="553" alt="Screenshot 202

[2021-03-24 14:26] bourdakos1 commented on #19
Should be fixed I v0.0.14

[2021-03-24 14:26] #19 closed

[2021-03-24 14:27] bourdakos1 commented on #21
Do you mind sharing your openapi.json file?

[2021-03-24 14:34] MiguelPreto commented on #21
openapi.json file:

`{"openapi":"","info":{"title":"","version":""},"paths":{"/health":{"get":{"responses":{"200":{"description":"OK"}}}},"/api/account/links/{partnerId}":{"post":{"description":"This method receives an authorization token. That token will be used to get the user's tokens."}},"/account/pairs/{pairId}/linking-caps":{"get":{}},"/api/aoi/subscriptions":{"post":{"description":"This met

[2021-03-25 14:33] MiguelPreto commented on #21
Hey man, already know what is wrong, apparently the @summary tag is mandatory and I didn't had it.
So the fix is to add the tag @summary to the openapi.json, so it would be something like:

`{"openapi":"","info":{"title":"","version":""},"paths":{"/":{"get":{"responses":{"200":{"description":"OK"}},"summary":"/","description":"/"}},"/health":{"get":{"responses":{"200":{"description":"OK"}},"summar

[2021-03-25 14:45] bourdakos1 commented on #21
Oh I think this is a bug, I will try to fix this by the weekend

[2021-03-25 14:47] MiguelPreto commented on #21
Awesome!

[2021-03-26 15:45] bourdakos1 commented on #21
I think the issue is actually because of a missing description, I think I've fixed the issue. Releasing now

[2021-03-26 17:19] bourdakos1 commented on #21
@MiguelPreto your original `openapi.json` is now working for me so I'm going to close this. Feel free to reopen if you're still having issues with v0.0.15

[2021-03-26 17:19] #21 closed

[2021-04-26 15:31] avaidyam opened #26 "openapiPath directory resolution"
Interestingly, the `openapiPath` doesn't work if I just provide a raw string (relative to the root of the repo directory). I have to this to make it work:

[code]

What kind of raw path is expected for it to work? Something like `../../../openapi.json`?

[2021-04-26 16:28] bourdakos1 commented on #26
`require.resolve` resolves the file to an absolute path

[2021-04-26 16:29] avaidyam commented on #26
@bourdakos1 Is there some way to make it so if the import fails it tries again after using `require.resolve`?

[2021-05-25 14:18] avaidyam opened #31 "Doesn't work with 2.0.0-beta.0"
Not really sure why, but when using `npm start` the page entirely doesn't load, and when using `npm run build`, the page displays but without the API console on the right-hand side.

[2021-08-03 10:08] matheusbaumgart commented on #31
Same issue here with the page not loading (forever loading).

[code]

[2021-08-14 00:50] factoidforrest opened #43 "Yaml support?"
Does this work with Yaml?

[2021-08-14 01:15] bourdakos1 commented on #43
No, not at the moment

[2021-09-13 15:50] mrisso opened #45 "Big assets forming on build"
Hi, I'm having a problem with the assets generated by the plugin. I don't know if it is a bug or if there is a way to stop this from happening.

You can see here that when I finish the building process I end up with this huge 12M asset file inside `build/assets/js`:
![image](https://user-images.githubusercontent.com/6175388/133109630-57114e66-0a5a-48a0-8b9d-7f6cd3c0b2e6.png)

When I tried to look

[2021-09-13 18:41] bourdakos1 commented on #45
I'm not sure how to get rid of this as a dependency, open to PRs though if you have an idea

[2021-11-02 12:28] paresh-huma opened #49 "Upgrade this plugin to docusaurus beta"
We have used this plugin that meets our requirements the way we want to create and manage the entire platform documentation. We have got this plugin working end-to-end for the Alpha version of Docusaurus but it's being deprecated and we couldn't find a way to make it work for the Beta version of Docusaurus.

We are really looking forward someone who can make this plugin work for the Beta version o

[2021-11-02 15:38] bourdakos1 commented on #49
I will take a closer look at this and try to get this working. Closing this issue in favor of #31

[2021-11-02 15:38] #49 closed

[2021-11-03 14:39] bourdakos1 commented on #31
Just an update on this, I made a lot of progress yesterday. I believe the bulk of the issues were due to webpack 5. Additionally, I need to rewrite the sidebar component to be compatible.

[2021-11-03 14:40] avaidyam commented on #31
@bourdakos1 In an interesting coincidence, I've done the same. It's almost working on my end with beta9.

[2021-11-03 14:42] bourdakos1 commented on #31
oh great to hear! I'll put a pause on my end then

[2021-11-03 15:11] bourdakos1 commented on #31
@avaidyam I opened a draft PR with my work so far if its any help https://github.com/cloud-annotations/docusaurus-plugin-openapi/pull/50

[2021-11-03 18:25] avaidyam commented on #31
@bourdakos1 I've opened #51 which solves this issue (and a LOT of other minor annoyances/potential major issues).

[2021-11-03 20:29] #31 closed

[2021-11-09 01:56] afterthought opened #54 "UI quirks, new?"
The narrow tables in the middle and the menu indicator in the sidebar are not in the screenshot in the readme. Are these new after the recent upgrade? Or maybe something about how I launched the demo?

<img width="1816" alt="Screen Shot 2021-11-08 at 8 51 47 PM" src="https://user-images.githubusercontent.com/198010/140847192-dd8ef50c-ecc3-4de7-8a59-33e2a4c1e215.png">

[2021-11-09 02:04] bourdakos1 commented on #54
Yea I believe this is a regression from the 0.1.0 release. I’ll work on fixing this

[2021-11-09 15:37] afterthought commented on #54
Thanks. I have a list of features/changes that I want to help with. Are you open to PR's for any of these?

- Allow runtime configuration for servers and security (not sure about this, but we might have different OpenAPI spec files per client. the differences should just be server host names and maybe slight variations in auth schemes)
- Support for client_credentials OAUTH flow
- An option to per

[2021-11-09 20:31] afterthought commented on #54
Thanks. I will open issues. I might wait until I know I'll have a chance to do the work.

[2021-11-09 20:35] afterthought opened #56 "support for trailingSlash=false"
Reference: https://docusaurus.io/docs/deployment#trailing-slashes

We use a hosting provider that requires this setting to be false. When false, the OpenAPI plugin does not show its sidebar. I can remove the config to fix the OpenAPI plugin, but that breaks the docs/ sidebar.

[2021-11-24 16:34] Anthony-Gaudino opened #57 "Getting Page not found on API page"
Hi I followed the documentation and YouTube video, but I'm getting a `Page not found` error when trying to access the API page in Docusaurus.

My project doesn't have a running Node server application, is this necessary for the API page to work?

My `docusaurus.config.js`:
[code]

My `package.json`:
[code]

I have a `openapi.json` file with content on it.

[2021-11-24 16:38] Anthony-Gaudino commented on #57
Found issue, there was a typo here: `openApiPath: require.resolve("./openapi.json"),`
It's actually `openapiPath` :man_facepalming:

[2021-11-24 16:38] #57 closed

[2021-11-24 19:40] Anthony-Gaudino opened #58 "Missing status code details"
On the status codes, information like `description` is missing:

![missing_description](https://user-images.githubusercontent.com/2439728/143302632-b294753e-f299-4a77-9d31-dfe346f5ca99.png)

On README the status code description appears:
![](https://user-images.githubusercontent.com/4212769/85324376-b9e3d900-b497-11ea-9765-c42a8ad1ff61.png)

My `package.json`:
[code]

[2021-11-24 19:44] bourdakos1 commented on #58
What does your open api spec look like?

[2021-11-24 20:09] Anthony-Gaudino commented on #58
Forgot to add it:
[code]

[2021-11-24 20:25] bourdakos1 commented on #58
It doesn't look like you're doing anything wrong on your end. I will see what I can do to try and fix this.

[2021-11-24 22:53] Anthony-Gaudino opened #59 "Nested tags"
Is it possible to have nested tags, and then have them displayed on the navigation menu?

For example if I would like to have for example `cat` and `dog` bellow `pets` and then have the endpoints bellow each one:
![](https://user-images.githubusercontent.com/4212769/85324376-b9e3d900-b497-11ea-9765-c42a8ad1ff61.png)

[2021-11-24 23:15] Anthony-Gaudino opened #60 "Multiple API main menu entries"
If I want to have multiple API definitions I just have to have multiple plugin entries defined on `docusaurus.config.js`:

[code]

Then to have multiple menu entries would I have to do this?
[code]

A bit confused with the difference between `to` and `activeBasePath`.

[2021-11-24 23:48] bourdakos1 commented on #60
I don't think `activeBasePath` is necessary, this might have been a remnant of docusaurus alpha. The links/items section in the config is part of docusaurus and should be documented there

[2021-11-25 00:16] bourdakos1 commented on #59
We don't have support for this at the moment. I don't think OpenAPI's `tags` has the intrinsic capability of expressing hierarchy, so if we wanted to tackle this we would need to extend the spec in some way.

I don't see myself having the time to work on a feature like this, so I'm going to close this issue. Feel free to reopen if this is a feature you would like to help contribute.

[2021-11-25 00:16] #59 closed

[2021-11-25 00:17] #58 closed

[2021-11-25 00:50] bourdakos1 commented on #58
This should be fixed in v0.1.1

[2021-11-28 21:16] bourdakos1 commented on #26
@avaidyam I updated how we import the OpenAPI definition, so you now provide a raw string relative to the siteDir. Does this resolve your issue?

[code]

[2021-11-29 22:44] simranbentel opened #66 "Base URL for endpoint test UI & Execute calls"
I do not see any config for setting the base url that is used in the endpoint testing UI (2nd column). The default behavior appears to be to use the same url that the site is running on. So when developing it attempts to call localhost... and when deployed it calls that url. I tried adding "servers.url" in the swagger json but that does not appear to be used either. Any input you can provide?

[2021-11-29 23:07] bourdakos1 commented on #66
Adding urls to servers should give you a dropdown to choose a base url in the testing UI. Here's an example OpenAPI definition that uses servers:

https://github.com/cloud-annotations/docusaurus-plugin-openapi/blob/d39424f3b6150d09a2f0bb4f2349d16508840c43/demo/examples/openapi-cos.json#L175

Do you have a sample OpenAPI definition you feel comfortable sharing that isn't respecting the `servers` st

[2021-11-29 23:26] simranbentel commented on #66
Thank you for the fast response!! I had a syntax error in my swagger json (servers was not an array). Works now!

[2021-11-29 23:52] simranbentel opened #67 "Authorization: config or default to Bearer token approach"
Is there any way for the Authorization UI to default to the Bearer token input? Users of my site will need to figure out switching the user/pass inputs to Bearer token. I tried use CSS to alter the presentation but the React logic is not allowing that approach.

[2021-11-29 23:57] #66 closed

[2021-11-30 00:20] bourdakos1 commented on #67
I think this might be a bug. The intended behavior is that you would only have to toggle between auth modes that are specified in the OpenAPI definition (in the order that they are listed), but I think the component incorrectly always shows both basic and bearer auth modes when any auth modes are listed.

I am unable to make any contributions at the moment, but I believe @avaidyam added the basic

[2021-11-30 13:58] Anthony-Gaudino commented on #60
Hi @bourdakos1

I'm getting a Syntax error while trying to have the two APIs:
[code]

My `docusaurus.config.js`:
[code]

I have both `kiosk_rest_api.json` and `backoffice_rest_api.json` with same content:
[code]

[2021-11-30 14:02] avaidyam commented on #67
@simranbentel Right, as @bourdakos1 says, it's supposed to work off of the different auth types present in the OpenAPI specification. I recall hardcoding support for basic auth in addition to the previously present Bearer auth. This may take some extra work to implement properly, I think.

[2021-11-30 14:04] avaidyam commented on #26
I think this should work! Thanks.

[2021-11-30 14:04] #26 closed

[2021-11-30 14:22] avaidyam commented on #26
@bourdakos1 Actually, could you please create a new release so that I can test this out?

[2021-11-30 15:16] bourdakos1 commented on #26
There’s a few breaking changes in master so I want to wait a little bit longer to make sure everything is finalized before cutting a release

[2021-12-02 00:30] simranbentel commented on #67
Thanks @avaidyam. Looking at the Authorization component I see a clear path to getting the Bearer auth to show by default and hiding the switch button. I will make a fork with those changes for the time being. Will check back to see when you get this fully implemented based on the security scheme. Cheers!

[2021-12-04 23:32] bourdakos1 commented on #43
This feature will be added with #68. It should be available our next release

[2021-12-04 23:35] bourdakos1 commented on #54
Both the narrow table bug and sidebar issue have been fixed and should be available in the next release

[2021-12-04 23:35] #54 closed

[2021-12-04 23:39] #43 closed

[2021-12-04 23:44] bourdakos1 commented on #60
I'm having the same issue, still trying to figure out what the bug is.

[2021-12-04 23:52] factoidforrest commented on #43
Fantastic, we can get rid of the transpilation to JSON step soon.  Thank you!

[2021-12-05 00:06] bourdakos1 commented on #60
A fix has been merged into main #69 and should be available in the next release

[2021-12-05 00:07] #60 closed

[2021-12-05 00:17] bourdakos1 commented on #56
I think this might be fixed on the main branch. I'll be releasing 0.2.0 soon, which will have a few breaking changes, but it seems like the trailing slash issue is gone

[2021-12-05 01:00] bourdakos1 commented on #67
I should be able to work on this now

[2021-12-06 04:38] #67 closed

[2021-12-06 04:38] bourdakos1 commented on #67
@simranbentel This should be available in the next release

[2021-12-08 13:37] Anthony-Gaudino opened #78 "Getting Error: Cannot find module 'docusaurus-plugin-openapi' when trying to use as plugin"
I'm following the instructions to update to 0.2.2. I installed `docusaurus-preset-openapi` and uninstalled `docusaurus-plugin-openapi` as I understood that `docusaurus-preset-openapi` already includes the plugin.

Just using the preset it works, but when I try to have multiple OpenApi definitions where I need to add a plugin entry I get an `Error: Cannot find module 'docusaurus-plugin-openapi'`.

[2021-12-08 14:56] bourdakos1 commented on #78
If you are using both the preset and the plugin, you may need to have both of them installed. However,   It shouldn’t be strictly necessary, because installing the preset should also install the plugin and the theme.

It may be helpful to delete node_modules / any lockfile and try to reinstall.

You can also check out the demo folder of this project for a working example of using multiple instance

[2021-12-08 15:06] bourdakos1 commented on #78
This shouldn't be causing the error you are seeing but I think your plugin config:
[code]

should look like this:
[code]

[2021-12-08 17:31] Anthony-Gaudino commented on #78
Thank you @bourdakos1

Changing the plugin definition to:
[code]

Solves the error.

------

Now, this part:
[code]

I have seen on the video: https://www.youtube.com/watch?v=-Z9Zn8RHf0c&t=15s
This specifies where the server URL and port is. By default it is http://localhost:3000, but I need to change it.

If I put:
[code]

I have the error:
[code]

[2021-12-08 18:16] simranbentel commented on #67
@bourdakos1 I have installed v0.2.2 and integrated via preset. The Authorization panel contains only a "Save" button for me. No input is being rendered.

In my swagger json `components` contains:
`"securitySchemes": {
      "Bearer": {
        "type": "http",
        "description": "Put your **API key** (JWT or Reference token) on textbox below (without 'Bearer ' prefix)",
        "scheme": "Beare

[2021-12-08 18:50] bourdakos1 commented on #67
@simranbentel it expects `scheme` to be `bearer` (all lowercase). I'm not super well versed in how these security schemes are intended to work, should `scheme` not be case sensitive?

[2021-12-08 21:02] simranbentel commented on #67
Hmm, not sure regarding case sensitivity. I can try and see if the value can be changed from the backend I am getting json from. You could also add `.toLowerCase()` if you are willing to make that change on your side.

[2021-12-08 22:05] bourdakos1 commented on #67
Yea, I can do that :) Do you mind opening a separate issue for this?

[2021-12-08 22:10] bourdakos1 commented on #67
Looks like scheme is intended to be case insensitive https://github.com/OAI/OpenAPI-Specification/issues/1876

[2021-12-08 22:37] bourdakos1 opened #79 "Make security scheme case-insensitive"
As per @simranbentel in #67, It is common for the security `scheme` for `bearer` auth to be capitalized as `Bearer`. Looking in to this, a comment in OAI/OpenAPI-Specification#1876 noted that according to RFC7235, the authentication scheme is a case-insensitive token.

We should update our scheme detection code to reflect this.

[2021-12-11 19:10] blugavere opened #82 "Feature Request - Support Nested Sidebar Navigation for Multiple API Specifications"
I'd like to potentially use this library to render many OpenAPI specs within a single Docusaurus site.

The current implementation only supports top level navigation (with single level drop downs) for multiple OpenAPI specs. This is a limitation of docusaurus itself. If I wanted to render hundreds of specs, it would not scale very well - there's only so much real estate in the top nav.

A viable s

[2021-12-11 19:43] bourdakos1 commented on #82
@blugavere I like this!

I haven't thought too much about this, but what if instead of the `items` config object, we did something similar to how docs works?

The plugin config could look something like this:
[code]

Then you could use the file structure to organize categories:
[code]

[code]

We could also use a similar `sidebarPath: require.resolve('./sidebars.js'),` as an escape hatch from the

[2021-12-11 19:50] #79 closed

[2021-12-11 20:00] bourdakos1 commented on #67
@simranbentel `Bearer` should now work in v0.2.3

[2021-12-11 20:02] bourdakos1 commented on #56
I think this is fixed. Feel free to reopen if you're still experiencing this issue :)

[2021-12-11 20:02] #56 closed

[2021-12-11 20:05] bourdakos1 commented on #78
Maybe `proxy` was from the alpha version of docusaurus? I'll try to see where this option comes from. In the meantime, if you remove `proxy` does it at least build?

[2021-12-11 21:19] blugavere commented on #82
I like it! Maybe take it a bit further...

- use a private `_spec_.json` or `_openapi_.json` convention to be picked up by the plugin
- enable custom markdown files to be dropped in the folder structure as well (with mdx referenced inline JSON files not interfering with the plugin operation due to convention above)

[code]

![image](https://user-images.githubusercontent.com/10419222/145691861-d9d4

[2021-12-11 21:39] bourdakos1 commented on #78
@Anthony-Gaudino It looks like at one point docusaurus would pass devServer configs (which includes proxy) to Webpack, but it looks like they don't support that anymore. I would open an issue on [docusaurus](https://github.com/facebook/docusaurus) if this is a functionality you need.

[2021-12-11 21:39] #78 closed

[2021-12-11 21:43] bourdakos1 commented on #82
I like the idea of being able to drop in md/mdx files, but I'm not sure I understand the purpose of `_spec_.json`?

[2021-12-11 21:59] bourdakos1 commented on #82
Oh I see... MDX supports importing files, so someone could want to import json, hence interfering with the plugin?

I think I would rather have a way to exclude the non-openapi-json than forcing `_spec_.json`.

Since OpenAPI definitions require an `openapi` key, we have a decent heuristic for throwing out invalid json/yaml.

On top of that, if the non-openapi-json does have an `openapi` key for so

[2021-12-11 22:00] blugavere commented on #82
it's just a convention similar to `_category_.json` so the plugin knows which file(s) render for a given folder as the openapi spec.

in your example `pet-store.json` & `openapi-issue-21.json` are both in the `a` folder and so you can infer based on the specification `info.title` what the navigation label should be, so you're creating the sub-directory automatically as a default.

If you wanted to

[2021-12-11 22:11] blugavere commented on #82
realize we replied at the same time -

what if you want to customize the sidebar label & not use the openspi spec title?

how would you differentiate between "I want to render the swagger spec the folder in which it resides with custom mdx" vs "I want to render a subfolder with the OpenAPI spec title as the sidebar label"?

may still need a config file somewhere? hiding irrelevant json with an und

[2021-12-11 22:11] bourdakos1 commented on #82
Oh so outside of the json collisions does `_spec_.json` act as like a "don't create a sub route for this"?

So with this:
[code]

You would get these routes:
[code]

[2021-12-11 22:12] bourdakos1 commented on #82
haha we did it again

[2021-12-11 22:14] bourdakos1 commented on #82
I'm good with having a specific spec name for the "I want to render the swagger spec the folder in which it resides with custom mdx" case

[2021-12-12 00:08] bourdakos1 commented on #82
I really like all of this.

Since this will probably be a rather large change, I will start by creating a branch off of main. That way, if this is something you are interested in working on, we could both open PRs contributing to that branch.

I might try to spend some time this weekend cleaning up the current plugin logic so this feature will be easier to add.

After the initial cleanup work, I t

[2021-12-12 12:09] Anthony-Gaudino commented on #78
Hi @bourdakos1,

Sorry for late reply.

Removing `proxy` builds it.

----

I have been using `Beta 9` version of Docusaurus always, so I tested this on same version of Docusaurus, `beta 9` with the 0.1.1 version of the plugin and the error didn't happen, so it seems that there's something with the plugin itself and not Docusaurus, something was changed on 0.2.0 or other versions that broke it.

By

[2021-12-12 14:24] Anthony-Gaudino opened #87 "Use of Docusaurus Constants has changed"
On Docusaurus Beta 13 they seem to have done changes and now the plugin is broken with error:
[code]

The Docusaurus constants have been moded to `@docusaurus/utils`.

Please see: https://github.com/facebook/docusaurus/discussions/6099

[2021-12-12 14:46] bourdakos1 commented on #78
0.2.0 adds validation that checks that the options passed are valid. Proxy isn’t a valid option so it throws an error now. In beta 9 plugin 0.1.1, it doesn’t throw an error, but it won’t actually start a proxy.

[2021-12-12 15:15] Josh-Cena commented on #78
@bourdakos1 In recent versions (beta.9, iirc) we have upgraded the dev server to v4. I'm actually not aware that plugins can configure the dev server itself, but we didn't remove any plugin lifecycle.

[2021-12-12 17:32] bourdakos1 commented on #78
@Josh-Cena This plugin never explicitly had support for this `proxy` option, but I do vaguely remembering it magically working at some point (somewhere around alpha.68?). I'm not sure if docusaurus was previously using this option under the covers maybe?

I don't think `proxy` should be a part of this plugin, but it would be a useful feature to be leveraged by this plugin. I'm not sure if this sho

[2021-12-12 23:07] Josh-Cena commented on #78
Oh wow, neither was I aware about `config.devServer`... In fact I only started contributing at around alpha.73, and only got familiar with Webpack quite recently, so I'd appreciate it if you can send a ticket (either bug report or feature request) so we can keep track of the dev server configuration issue

[2021-12-13 04:09] #87 closed

[2021-12-13 04:11] bourdakos1 commented on #87
@Anthony-Gaudino This should be fixed in the next release

[2021-12-13 16:49] simranbentel commented on #67
@bourdakos1 Confirmed, it is working now. Thank you!

[2021-12-13 19:15] simranbentel opened #89 "Site description content is not being displayed."
We have important content in the `info.description` section of the swagger json. This content is not currently being displayed. The documentation makes no mention of displaying static content. Is there somewhere else in the json this content should be placed so that it will display? Is there some other way to include static pages with navigation side by side with the dynamic endpoint content?

Exp

[2021-12-13 19:21] bourdakos1 commented on #89
@simranbentel I plan on adding support for this soon. I'm going to close this, because we are already tracking here: #8

[2021-12-13 19:21] #89 closed

[2021-12-13 19:24] simranbentel commented on #89
Thanks, can I get an idea of the timing? The display of this content is needed for us to launch our site.

[2021-12-13 19:27] bourdakos1 commented on #89
I normally only have time on the weekend, so definitely by the end of the week. Maybe sooner if I get some time during the week.

[2021-12-13 19:45] simranbentel opened #90 "Enum values not displayed"
We have a few instances of string properties that have `enum` values.

Example:
`"currency": {
    "enum": [
        "USD",
        "EUR",
        "GBP"
    ],
    "type": "string"
},`

Expected:
The enum values should be displayed with the value type, like `Enum: "USD" "EUR" "GBP"`.

Actual:
The enum values are ignored.

[2021-12-13 19:49] simranbentel opened #91 "requestBody is not displayed"
On a `post` type endpoint, the schema of the `requestBody` is not being displayed.

Expected:
`requestBody` content is displayed.

Actual:
`requestBody` content is being ignored.

[2021-12-13 22:04] simranbentel opened #92 "Responses title text should be "Responses", not "Status Codes""
"Status Codes" is an awkward title for the responses section of output. A more common title would be "Responses". Can this be changed? If not, would be ideal if there was an option that we could configure this in docusaurus.config.js.

[2021-12-13 22:09] simranbentel commented on #92
I just realized this was resolved in the latest version. Apologies.

[2021-12-13 22:09] #92 closed

[2021-12-14 02:32] bourdakos1 commented on #91
Okay, I think the issue here is that we don’t support “allOf” yet. I’ll look into seeing what that entails

[2021-12-14 05:25] #90 closed

[2021-12-14 18:38] isaiahdahl opened #95 "Allow markdown in paramater descriptions"
I want to be able to document query parameters like this:

![CleanShot 2021-12-14 at 10 31 51](https://user-images.githubusercontent.com/23046374/146059194-b062ea6f-406c-4ee1-aadb-15d8bdb3e3ea.png)

To be able to do this I would need markdown support for description in parameters.

[2021-12-14 18:43] bourdakos1 commented on #95
The parameter descriptions support markdown. Are you having issues getting it working?

[2021-12-14 19:35] isaiahdahl commented on #95
Very odd. I couldn't get it to work yesterday so I pulled out all the markdown from my descriptions. Now I just go and try again and it works and I can't recreate it. Not sure what happened, I'll re-open if I can recreate in future. Thanks for clarifying.

[2021-12-14 19:35] #95 closed

[2021-12-14 23:34] bourdakos1 commented on #91
@simranbentel do you mind testing to see if PR #96 fixes your request body issue?

[2021-12-15 19:00] slorber commented on #78
Should be fixed in https://github.com/facebook/docusaurus/pull/6107 and you will be able to write:

[code]

However, I don't understand how this proxy option used to work with this plugin. It's not documented anywhere and I don't find this in the source code either 🤷‍♂️

[2021-12-15 19:19] bourdakos1 commented on #78
Awesome, thanks!

It's not documented anywhere and I don't find this in the source code either 🤷‍♂️ maybe this plugin used to spread unknown options to Webpack config? 🤔

I'm just as confused as you are haha

[2021-12-15 19:48] simranbentel commented on #91
Cloned your fork and checked out the branch. Works! RequestBody now displays for me. Thanks!

[2021-12-15 20:18] #8 closed

[2021-12-16 17:12] bchmnn opened #99 "Loading API file fails on Windows 10"
On windows running `yarn run start` fails due to not being able to load the API file.

### Versions:
- windows: Windows 10 Enterprise 20H2
- node: v16.13.0
- npm: 8.1.0
- yarn: 1.22.17

### `package.json`:
[code]

### Error
[code]
[code]

### Expected behaviour
Do not fail to load `openapi.json` when it exists.

[2021-12-16 17:14] bchmnn commented on #99
Nvm. Had syntax error in openapi.json file. :D

[2021-12-16 17:14] #99 closed

[2021-12-16 22:06] simranbentel opened #100 "Parameters missing "maxLength", "nullable" props output, Type 'object' no longer notated"
In latest v0.3.0 release, `object` type is no longer notated in the table of parameters (previously, the top level `amount` param had "object" type notated:
![Screen Shot 2021-12-16 at 1 55 07 PM](https://user-images.githubusercontent.com/6208651/146455197-ad1266d5-f145-4199-9c53-406211901a38.png)

Another couple of props are missing from the output. For example, given this param:

`"correlationId

[2021-12-16 22:11] simranbentel opened #101 "Feature request: Endpoints in menu should display method tags"
It is common for API documentation to display endpoint methods (GET, POST, etc...) in the menu, example:
![Screen Shot 2021-12-16 at 2 10 47 PM](https://user-images.githubusercontent.com/6208651/146456450-9c75afa8-0742-4042-a67f-4c61261c85ec.png)

[2021-12-17 04:09] bourdakos1 commented on #101
I'm not sure if this is possible with the docusaurus sidebar. Possibly with some css magic? I think I might be able to provide classnames `get` `post` `put` etc.. to the links and then you could have styles like `.get::before { content: "GET" }`. Would that work for you?

[2021-12-17 04:27] bourdakos1 commented on #100
This doesn't look like a regression, I'm still seeing the proper schema name listed for objects. I'm guessing this is a bug for schema using `allOf`. I'll test it out and try to fix.

Is `nullable` different from not being `required`?

[2021-12-17 04:43] bourdakos1 commented on #100
For `allOf` the name of the schema is slightly complicated, because it is a list of schema:
[code]

In your opinion, should this render as:

`pet` Cat & Dog & Goldfish

or just:

`pet` object

[2021-12-17 12:46] bchmnn commented on #101
The guys from [redocusaurus](https://github.com/rohit-gohri/redocusaurus) managed to get tags in the sidebar working: [demo](https://rohit-gohri.github.io/redocusaurus/examples/using-spec-yaml/).

[2021-12-17 15:25] bourdakos1 commented on #101
@bchmnn redocusaurus doesn’t use the native Docusaurus sidebar. I could build my own sidebar to achieve the same effect, but that’s not an approach I would like to take.

[2021-12-17 15:43] bchmnn commented on #101
@bourdakos1 Ah okay. Understandable. :)

[2021-12-17 16:09] simranbentel commented on #101
That would be a very good solution.

[2021-12-17 16:18] simranbentel commented on #100
Indeed nullable is not required. As long as required is displayed nullable is not needed. My mistake.

[2021-12-17 16:39] bourdakos1 commented on #101
Awesome, I'll open a PR adding classnames and leave the styling up to you

[2021-12-17 17:01] bourdakos1 commented on #100
Okay cool, #102 should fix the `allOf` issue. I'll open another PR to add support for the following qualifiers (let me know if I missed anything important):
- maxLength
- minLength
- maximum
- minumum
- exclusiveMaximum
- exclusiveMinimum
- maxItems
- minItems
- uniqueItems
- maxProperties
- minProperties
- multipleOf
- pattern

if you have a schema with:
[code]

would render:

<table><tbody><tr><

[2021-12-17 17:53] sserrata commented on #101
If it's helpful to anyone, our team managed to get method labels working with the Docusaurus sidebar using `customProps` and some CSS magic.

API docs: https://prisma.pan.dev/api/cloud
Repo: https://github.com/PaloAltoNetworks/prisma.pan.dev
CSS: https://github.com/PaloAltoNetworks/prisma.pan.dev/blob/master/src/css/custom.css#L540
Sidebar: https://github.com/PaloAltoNetworks/prisma.pan.dev/blob/m

[2021-12-17 18:54] bourdakos1 commented on #101
Awesome! Glad to know this will work :)

[2021-12-18 20:02] #101 closed

[2021-12-19 17:39] bourdakos1 commented on #7
@lauzierj we support `allOf` now fyi

[2021-12-20 03:41] bourdakos1 opened #108 "Migrate theme components to TypeScript"
Many of the theme components are written in JavaScript. We should work on slowly rewriting components in TypeScript to help catch and prevent bugs.

[2021-12-21 03:51] #100 closed

[2021-12-21 04:18] bourdakos1 commented on #82
@blugavere Can we update the description of this issue to include a todo list to track tasks we still need to complete?

What I can think of off the top of my head:
- [ ] Plugin options for including/excluding files
- [ ] Plugin option for untagged group. Default to `"API"`, set to `false` to leave them ungrouped
- [ ] Use  _category_  `collapsed`/`collapsible` to override defaults
- [ ] Use  _cat

[2021-12-21 23:10] simranbentel commented on #91
@bourdakos1 I found a bug remaining with this issue. In the endpoints that use `allOf`, the ApiDemoPanel is not able to determine required RequestBody options. The current logic determines the body as optional always.

![Screen Shot 2021-12-21 at 3 10 20 PM](https://user-images.githubusercontent.com/6208651/147009362-d60e560c-4c8a-47a6-99d4-677a61e7bf76.png)

[2021-12-22 13:29] JaimeObregon opened #118 "Fails to install with Yarn 3: "Error: Assertion failed: Expected the root to be registered""
I am using Yarn 3.1.1 and on a fresh Docusaurus install, `yarn add docusaurus-preset-openapi` yields this error:

[code]

To reproduce, put this `pacakge.json` in an empty directory and run `yarn install && yarn add docusaurus-preset-openapi` afterwards:

[code]

However, it works fine with Yarn 1.22 (a version no longer under active development), if this line is removed:

[code]

[2021-12-22 13:38] JaimeObregon commented on #118
Update: it still fails when Docusaurus version is set to `latest`:

[code]

[2021-12-22 16:46] bourdakos1 commented on #118
Thanks, I will try to reproduce and fix 😊

[2021-12-22 17:26] bourdakos1 commented on #118
reproduced!

[2021-12-22 17:36] bourdakos1 commented on #118
I was able to get it to install using `"@docusaurus/core": "2.0.0-beta.13"`:
[code]

I'm guess the issue is because we depend on `"2.0.0-beta.13"` internally?

[2021-12-22 19:13] JaimeObregon commented on #118
Thank you, @bourdakos1! With `2.0.0-beta.13` it does work wonderfully 👍.

[2021-12-22 19:43] #118 closed

[2021-12-24 20:50] bourdakos1 opened #125 "Add a convenient "bootstrap project" CLI command"
A new user trying to use OpenAPI in there Docusaurus project should be able to easily create a new project by running an `npx` command.

Similar to `create-docusaurus` and `create-react-app`:
[code]

## Options

### 1) Custom Docusaurus template

The `create-docusaurus` command allows for passing a custom template in the form of a GitHub repo:
[code]

**Pros**
- We don't need to write/maintain our

[2021-12-29 04:08] #125 closed

[2022-01-02 03:45] #108 closed

[2022-01-02 03:52] bourdakos1 commented on #16
In the link provided, the `schema` seems to be part of the normal operation page as part of the `request body` table. I believe this is the default behavior for `docusaurus-plugin-openapi`?

Am I missing something?

[2022-01-02 04:04] bourdakos1 commented on #91
@simranbentel I am unable to reproduce the issue. The following OpenAPI definition:

[code]

Renders the following demo panel:

<img width="562" alt="image" src="https://user-images.githubusercontent.com/4212769/147865849-af5077b7-36ef-46bd-ab42-f054bf008940.png">

[2022-01-02 17:52] bourdakos1 opened #133 "[Multi-Spec] Plugin options for including/excluding files"

[2022-01-02 17:53] bourdakos1 opened #134 "Plugin option for untagged group"
Default to `"API"`, set to `false` to leave them ungrouped

[2022-01-02 17:55] bourdakos1 opened #135 "[Multi-Spec] Category config support"
- [ ] Use `_category_.json` `collapsed`/`collapsible` to override defaults
- [ ] Use `_category_.json` `position` to sort

[2022-01-02 17:55] bourdakos1 opened #136 "[Multi-Spec] Load markdown pages"

[2022-01-02 17:58] bourdakos1 opened #137 "[Multi-Spec] Add index spec support"
Support for the original `_spec_.json` idea, but instead follow the Docusaurus [category index convention](https://docusaurus.io/docs/sidebar#category-index-convention)

[2022-01-02 20:15] bourdakos1 opened #138 "Update website docs page"
Currently, the docs in `demo` are the auto-generated Docusaurus QuickStart tutorial. We should update the docs to be a thorough guide on how to use all the features of the our preset/plugin/theme etc...

[2022-01-02 20:19] bourdakos1 opened #139 "Update template QuickStart guide"
Currently, the QuickStart guide provided in the template is a generic Docusaurus guide. We should update the instructions to be more specific to using the OpenAPI extensions.

[2022-01-02 20:30] bourdakos1 opened #140 "Build is slow for large (100k+ lines) OpenAPI definitions"
Look for bottlenecks in spec processing to see if there are areas for improvement

[2022-01-02 20:32] bourdakos1 opened #141 "Ensure all published packages have READMEs"
Most of the packages have missing/incomplete READMEs

[2022-01-02 21:59] bourdakos1 opened #142 "Document some of the gotchas of MDX"
The markdown in OpenAPI definition descriptions is processed by MDX. The results are similar to what would be generated by commonmark, but there are some noticeable differences/gotchas.

What I've come across so far:
- Style attributes must follow the JSX syntax `<div style={{ color: "red" }}>` vs `<div style="color: red;">`
- All tags must be closed. For example: `Replace <your-name> with your na

[2022-01-02 23:45] bourdakos1 commented on #140
After taking a closer look, the plugin takes about ~500ms to load 815 markdown pages. The bottleneck is the Webpack loaders which takes ~4 minutes on first build and ~1 minute cached (which isn't too bad given the amount of pages rendered).

[2022-01-02 23:45] #140 closed

[2022-01-03 16:09] avaidyam commented on #16
This feature request is actually to allow non-operations to appear in the sidebar. Specifically, a new section (like `Introduction`, but at the bottom) called `Schemas` whose sub-items are ALL the schemas ONLY, whether used in any operation or not. These schema pages wouldn't have an execute panel since they just display data type + example object info.

[2022-01-03 17:28] bourdakos1 commented on #16
Oh okay, is this like the "Models" section of Swagger UI: https://petstore.swagger.io?

Couple UX questions:
- Will this just render schemas listed under `components.schemas` or should it also collect schemas that are defined inline from all of the requests?
- Should all of the schemas be part of one `Schemas` page or should it be a `Schemas` category, with a page for each schema?

[2022-01-03 17:43] avaidyam commented on #16
Yep! That's the same idea. I think it should only render `components.schemas` and it would be a Schemas category with one page per schema.

[2022-01-03 22:45] bourdakos1 opened #144 "Code editor background color bug"
Code editor has red background in Chrome (not visible after a production build):

<img width="545" alt="image" src="https://user-images.githubusercontent.com/4212769/147988302-ae5749de-8729-48b6-a421-64d4b0906088.png">

[2022-01-03 23:06] bourdakos1 opened #145 "Request body can't be unset"
Endpoints with a request body (optional or required) always have an example body prefilled. If this example is deleted, the body is still used in the request/sample code as an empty string.

cURL example on page load:
[code]

cURL example after deleting code prefilled in editor:
[code]

Expected:
[code]

**Additional feature request:**
Since we always provide an example body by default (even when

[2022-01-06 02:20] #145 closed

[2022-01-08 17:57] JaimeObregon opened #150 "Breaks when `yarn build`ing with latest docusaurus?"
`yarn build` fails with this error:

[code]

The relevant part of my `packages.json`:

[code]

So I head to my `node_modules/@docusaurus/plugin-content-docs/package.json` and I see:

[code]

It seems yarn is resolving `plugin-content-docs` to `2.0.0-beta.fc64c12e4`, with which `docusaurus-openapi` breaks.

I have retried `yarn install` after removing `yarn.lock` and flushing `node_modules`, to no

[2022-01-08 19:05] bourdakos1 commented on #150
Hi @JaimeObregon, I'm having trouble reproduce this issue. Do you mind sharing your `yarn.lock` and which version of yarn you are using?

Thanks :)

[2022-01-08 19:57] JaimeObregon commented on #150
Sure, @bourdakos. This is what I am doing:

1. `mkdir test && cd test && yarn --version`:

[code]

2. `yarn set version berry` to [upgrade to latest yarn](https://yarnpkg.com/getting-started/migration#step-by-step). After that, `yarn --version` again:

[code]

3. Then set my `package.json` to:

[code]

4. After a `yarn install`, the `yarn.lock` file [looks like this](https://gist.github.com/JaimeO

[2022-01-08 20:07] bourdakos1 commented on #150
Thanks, reproduced!

[2022-01-08 21:07] bourdakos1 commented on #150
@JaimeObregon For some packages, it looks like yarn 3 is resolving `^2.0.0-beta.14` as `2.0.0-beta.fc64c12e4`, which is an old deprecated version?

`docusaurus-preset-openapi` imports Docusaurus packages as `^2.0.0-beta.14`, so you won't be able to fix the issue by simply pinning the versions in your package json.

However, as a temporary workaround you can use resolutions to force everything to t

[2022-01-08 22:06] JaimeObregon commented on #150
Thank you, @bourdakos1!

[2022-01-08 23:14] JaimeObregon commented on #150
Seems to be caused by a weird issue with package version sorting plus canary version names messing with SemVer. Closing this, as it's being addressed in facebook/docusaurus#6157. Thank you, @bourdakos1!

[2022-01-08 23:14] #150 closed

[2022-01-12 20:51] xgp opened #153 "Plugin "docusaurus-plugin-content-docs" error when adding to existing docusaurus site"
I added the preset to my docusaurus config
[code]
but I get the following error when trying to run `yarn start`
[code]
I don't understand how to "disable the plugin in the preset" as the error suggests. Has anyone encountered this? Any workarounds? Thank you!

[2022-01-12 20:56] bourdakos1 commented on #153
Hi there!

Try changing this:
[code]

to this:
[code]

[2022-01-13 09:02] xgp commented on #153
Hi @bourdakos1 thanks for the response. After I nested it in another array, it works fine:

[code]

[2022-01-13 09:02] #153 closed

[2022-01-22 12:09] Gupta-Anubhav12 opened #159 "Probable bug : Authentication component is broken"
### I have this security schema
[code]
but this leads to a authorization component to render  like this
![image](https://user-images.githubusercontent.com/64721638/150637937-4ba54db0-6e31-45e0-b766-bb27fa09610a.png)

but component does not work as expected, because it does not take input for the api key as in original swagger ui

![image](https://user-images.githubusercontent.com/64721638/15063795

[2022-01-22 12:16] Gupta-Anubhav12 commented on #159
https://docusaurus-openapi.netlify.app/petstore/add-a-new-pet-to-the-store

This issue is also there in pet store example, I am unable to figure out how to add api key

[2022-01-22 19:21] bourdakos1 commented on #159
Hey @Gupta-Anubhav12! We don't have support for apiKey header auth yet. However, I would be more than happy to merge any contributions you make towards this feature 😊

I can give you some background on this and try to point you in the right direction.

There are 3 main parts:
- Storing the user typed in data
- The form UI in your screenshot
- Creating the code snippet/demo

## The data

The data i

[2022-01-22 20:11] Gupta-Anubhav12 commented on #159
Will do this over next weekend probably, this is already booked into some other issues

[2022-02-02 18:43] skoshx opened #160 "Getting started causes Error: Package subpath './lib/sidebars/generator'"
Started by trying to bootstrap a normal project:

[code]
After which i get this error:
[code]

`node --version`: v14.18.1
`npm --version`: 6.14.15

By the way, absolutely love this project! Would like to create a pull request to fix this but at the moment I have absolutely no clue how to get around this.

[2022-02-03 00:09] bourdakos1 commented on #160
Hey @skoshx! Thanks for opening an issue, I'll take a look :)

[2022-02-03 00:34] bourdakos1 commented on #160
It seems like Docusaurus `2.0.0-beta.15` has broken some things. Even though we pin the version to `2.0.0-beta.14` it ends up also installing newer versions due to Docusaurus depending on itself. As a temporary workaround, you can add this to your `package.json`:

[code]

[2022-02-03 12:17] skoshx commented on #160
@bourdakos1 Hello, thanks for the quick reply! Your workaround works perfectly! Thanks :) Should I close this issue or keep it open to reference when a possible fix is available?

[2022-02-03 16:02] bourdakos1 commented on #160
Let’s leave this open, thanks 😊

[2022-02-06 16:55] olufotebig opened #162 "Navigation does not work in 'api' only mode"
##Summary
I want to use docusaurus-openapi to generate a docs only website from a swagger file, but navigation does not work.

## Steps to reproduce
Bootstrap a new project with `npx create-docusaurus-openapi my-website`
Remove the `src/pages/index.js` file.
Change the preset block in `docusaurus.config.js` to the code below:
[code]

## Observation
Clicking on links in the sidebar changes the url

[2022-02-06 23:02] olufotebig opened #163 "Monaco Editor has red background"
Monaco Editor has red background

![Screenshot 2022-02-07 at 00 01 10](https://user-images.githubusercontent.com/5451691/152705225-c752aaeb-8223-46f4-aa44-1d6d0b50bdc7.png)

[2022-02-06 23:49] bourdakos1 commented on #163
Thanks for opening an issue, but I’m going to close this in favor of #144

[2022-02-06 23:49] #163 closed

[2022-02-06 23:51] bourdakos1 commented on #162
Thanks @olufotebig, I will try to reproduce

[2022-02-06 23:52] bourdakos1 commented on #144
@olufotebig what version of the plugin are you using?

[2022-02-07 08:12] olufotebig commented on #144
@bourdakos1
This is my package.json
[code]

[2022-02-10 16:57] Misotech commented on #160
Help. Solution above doesn't work for me

   ╭────────────────────────────────────────────────────────────────────────────────────────╮
   │                                                                                        │
   │                     Update available 2.0.0-beta.14 → 2.0.0-beta.15                     │
   │

[2022-02-10 18:22] skoshx commented on #160
@Misotech Are you using `yarn` or `npm`? I don't know if `npm` supports `resolutions` in package.json

[2022-02-10 20:13] bourdakos1 commented on #160
Try deleting yarn.lock and node_modules

[2022-02-11 22:06] Misotech commented on #160
@bourdakos1 don't work it

[2022-02-11 22:45] bourdakos1 commented on #160
Can you upload a copy of your package.json and yarn.lock?

[2022-02-12 02:03] skoshx commented on #160
@Misotech You have to help us help you, you gotta give us more to go on than "don't work it". What steps did you do exactly to come to your error? What happens if you reproduce exactly your steps? What is your node version, what is your yarn version?

My steps to get it to work:
[code]

[2022-02-12 17:55] Misotech commented on #160
My steps:

$ npx create-docusaurus-openapi pizza
$ cd pizza
$ # Here add `resolutions` to package.json, then:
$ yarn start

Node version 16.14.0
Yarn version 1.22.17

Archive with package.json and yarn.lock

[Archive.zip](https://github.com/cloud-annotations/docusaurus-openapi/files/8054209/Archive.zip)

[2022-02-12 18:18] bourdakos1 commented on #160
You should have to run “yarn install” after adding the resolutions. I won’t have access to a computer this weekend, so I can take a closer look on Monday

[2022-02-12 18:51] Misotech commented on #160
@bourdakos1 Thanks! This is work

[2022-02-17 13:50] maurolucc opened #165 "Missing request examples"
**Issue**
Request examples values are not loaded. Examples can be loaded from reference but not directly from `examples` value which is a valid format.

**Example**

This is the `.json`:

[code]

This is the result:
![Captura de pantalla 2022-02-17 a les 14 47 39](https://user-images.githubusercontent.com/10829923/154495011-011aee9b-0fcd-4d6f-8e6e-3b31ae53bd2d.png)

**Expected result**
- List of r

[2022-02-18 21:28] xgp opened #166 "Instructions for example fail"
using
1. `yarn create docusaurus-openapi my-website`
2. `cd my-website`
3. `yarn start`

[code]

Note that by default, this uses the following versions.

[code]

[2022-02-18 22:41] bourdakos1 commented on #166
Closing as a duplicate of #160

[2022-02-18 22:41] #166 closed

[2022-02-21 21:23] bourdakos1 commented on #160
Have you tried the workaround?

[2022-03-01 19:12] jithinlalpr opened #167 "could not proxy request"
// @ts-check
// Note: type annotations allow type checking and IDEs autocompletion

const lightCodeTheme = require('prism-react-renderer/themes/github');
const darkCodeTheme = require('prism-react-renderer/themes/dracula');

/** @type {import('@docusaurus/types').Config} */
const config = {
	title: 'title',
	tagline: 'tag,
	url: 'some-utl',
	baseUrl: '/',
	onBrokenLinks: 'throw',
	onBrokenMarkdown

[2022-03-02 02:37] kevinelliott opened #168 "CORS?"
I am trying to allow users to interact with the OpenAPI definition, but when Execute is clicked there are CORS errors. How do you make this work?

[2022-03-02 07:38] jithinlalpr opened #169 "could not change the body color"
![02-03-2022 13-07-31](https://user-images.githubusercontent.com/78466229/156316269-ff6ffaab-b047-4359-a831-15cd5db02eaa.png)

[2022-03-02 15:22] bourdakos1 commented on #169
Closing in favor of #144

[2022-03-02 15:22] #169 closed

[2022-03-02 15:27] bourdakos1 commented on #144
Does this issue show up after a production build? And what browser/browser version?

[2022-03-03 15:46] skoshx commented on #168
@kevinelliott

Does your server send cors headers when a request is made to it? If not, then obviously that is the problem.

Since `docusaurus-openapi` is client side (in the browser) I strongly suspect the reason to your CORS errors lies in your server itself, not a problem with this package.

[2022-03-03 15:48] kevinelliott commented on #168
I do not use CORS with my API server at this time.

[2022-03-03 16:12] kevinelliott commented on #168
[code]

[2022-03-03 16:20] bourdakos1 commented on #168
You need to set up CORS on your server

or if this is in dev mode (not a production build) you can use the dev server proxy to forward requests to your server, bypassing CORS

[2022-03-03 17:03] #168 closed

[2022-03-03 17:11] skoshx commented on #160
@bourdakos1 Workaround still works, but I can't seem to get the docusaurus to look exatly as it does on [https://docusaurus-openapi.netlify.app/petstore/add-a-new-pet-to-the-store](https://docusaurus-openapi.netlify.app). I think the new look on the deployed netflify looks amazing but I don't understand how to get the same look :smile:

[2022-03-03 17:25] bourdakos1 commented on #160
Oh yea, thanks :) I added some custom css here to make it look different: https://github.com/cloud-annotations/docusaurus-openapi/blob/main/demo/src/css/custom.css

[2022-03-03 17:36] skoshx commented on #160
Oh ok, thanks a lot! Will defenitely steal it :wink: Btw, I was thinking of adding a feature where the `openapiPath` could be an URL, and the OpenAPI spec would get fetched from there instead of disk, are there any problems you could think of for a feature like that or should I get on it and submit a PR?

[2022-03-03 18:01] bourdakos1 commented on #160
The only issue is if you expect the site to change if the spec at the given URL changes. Since the docs are statically generated, it would only fetch the spec from the URL when the production build is run.

If that’s the expected behavior, go ahead and submit a PR :)

[2022-03-03 22:00] smeng9 opened #170 "Standalone React UI Packages"
Hi, I have tried the examples in this repo and I feel docusaurus-openapi offers more functionalities than Redocly.

I am wondering if there could be a standalone UI package so it can be easily imported, used and customized in other projects. This could be similar to RedocStandalone component used here https://github.com/rohit-gohri/redocusaurus/blob/main/packages/docusaurus-theme-redoc/src/theme/R

[2022-03-04 10:41] skoshx commented on #160
Yeah, figured as much from reading the code. Since we have an API where the OpenAPI definitions are subject to change at this time, there would have to be some way of regenerating the docs, so have to think more about this…

By the way, do you know the root cause of this issue? Is this just an upstream docusaurus issue and there is no fix for it? I don't want to sound archaic but would be nice for

[2022-03-08 17:15] skoshx opened #171 "How to change `path` of Docusaurus OpenAPI?"
The docs state that `path can be configured in docusaurus.config.js`, however it doesn't mention at all where to put it. The top level doesn't work.
[code]

I have absolutely no clue where to put the options so that they would get passed on to the `docusaurus-plugin-openapi`....

[2022-03-08 19:02] bourdakos1 commented on #171
Checkout the demo, it uses a custom path

[2022-03-15 10:20] #167 closed

[2022-03-28 19:04] YanDevDe commented on #160
I'm also having the same issue, I'm currently on beta.18 for docusaurus and I'm getting the error of `ERR_PACKAGE_PATH_NOT_EXPORTED`.
Adding the `resolutions` to package.json (and then removing node_modules / yarn.lock - yarn install) resulted in a different error:

[code]

So it is kinda deadend for me it appears 🥲

Here is my package.json:

[code]

[2022-04-03 18:30] timelesssys commented on #160
I'm seeing the same happening as @YanDevDe.
Running `yarn run docusaurus --help` gives more information for where the error is located:
[code]

[2022-04-04 13:30] skoshx commented on #171
Oh my bad! Didn't notice, thanks a lot!

[2022-04-04 13:30] #171 closed

[2022-04-11 15:17] jithinlalpr opened #176 "could not proxy to https endpoint"
[code]

IS there anything that i am missing or doing wrong?

[2022-04-11 17:23] jithinlalpr commented on #176
none, i am getting back the index,html file of the front end docusaurus site

[2022-04-11 17:38] bourdakos1 commented on #176
Oh, was the Docusaurus site running in dev mode or a production build? (The proxy only works in dev mode, because it’s via webpack dev server)

[2022-04-11 17:39] jithinlalpr commented on #176
how do i check that? i build it deployed it,

[2022-04-12 04:38] jithinlalpr commented on #176
how do i proxy on the prod or on the dev ?

[2022-04-12 04:52] bourdakos1 commented on #176
If you set up CORS you shouldn’t need a proxy. If that isn’t an option you would need some sort of server to forward requests to the api

[2022-04-12 04:56] jithinlalpr commented on #176
can i put the build folder as a public asset and point that as my docusaurus? if so then what should i do about the proxy?

[2022-04-12 05:08] bourdakos1 commented on #176
Yes, the build folder is intended to be the public assets. If CORS is enabled, you shouldn’t need a proxy, you can use the api url as the host and the request will go directly to it

[2022-04-12 05:12] jithinlalpr commented on #176
can you give me a sample config file for that? right now i am missing something and i am not able to send requests to the live api domain from a deployed docusaurus site which is another domain

[2022-04-12 05:13] bourdakos1 commented on #176
Can you share your openapi spec?

[2022-04-12 05:15] jithinlalpr commented on #176
openapi: 3.0.0
info:
  version: ""
  title: Nextport
paths: { }
servers:
  - url: http://localhost:3001/proxy

[2022-04-12 05:32] jithinlalpr commented on #176
remove proxy ?

[2022-04-26 00:46] natura4917 opened #177 "build error"
using
yarn create docusaurus-openapi my-website
cd my-website
package.json [(fix)](https://github.com/cloud-annotations/docusaurus-openapi/issues/160#issuecomment-1028489197)
yarn install
yarn start

error log
===================
[code]
===================

infomation

- node vesrion v16.14.2
- npm 8.5.0
- docusaurus 2.0.0-beta.14

[2022-04-26 00:58] natura4917 commented on #177
`yarn add url `

If the above package is installed, it starts, but does not build.

Uncaught (in promise) TypeError: Cannot read properties of undefined (reading 'city')

`yarn add @faker-js/faker -D`

[2022-04-28 17:42] xgp opened #178 "No way to set url parameters"
I can't find a way to use the generated UI to set url parameters.

For example, I have a path with parameters, and method specified in my openapi spec file like this:
[code]

It renders the following page: https://phasetwo.io/api/update-this-organization-by-id

But there is no way to set the `realm` and `orgId` parameters so that I can execute it from the page.

Am I specifying something incorrect

[2022-04-28 18:15] bourdakos1 commented on #178
This looks like a bug on our end. I think we expect “parameters” to be inside the “put” object, but we should support both places

[2022-05-03 04:31] ssankim commented on #177
I have resolved same issue to add `"postman-collection": "4.1.1"` to resolutions.

[code]

[2022-05-18 08:55] #177 closed

[2022-05-20 04:43] KinjalWS opened #179 "Is there support for OpenAPI 3.1.0?"
I was very much fascinated by the UI flexibility and the features [docusaurus-openapi](https://github.com/cloud-annotations/docusaurus-openapi) provide. But I'm a bit skeptical about the support for OpenAPI 3.1.0. Is it supported yet?

[2022-05-20 05:03] bourdakos1 commented on #179
Have you tried testing with 3.1.0?

[2022-05-20 05:51] KinjalWS commented on #179
I tried with 3.1.0. Actually OpenAPI 3.1.0 supports multiple types in a schema (also specified here: [Specifying multiple types for additionalProperties through Swagger/OpenAPI](https://stackoverflow.com/questions/46472543/specifying-multiple-types-for-additionalproperties-through-swagger-openapi))

I tried debugging as follows:
_node_modules/docusaurus-plugin-openapi/lib/openapi/createExample.js_

[2022-05-20 05:56] bourdakos1 commented on #179
Then I guess we don’t support 3.1.0

[2022-05-20 06:04] KinjalWS commented on #179
Okay cool!
I'll then go back to OpenAPI 3.0.3 as of now!

_Should I close this issue?_

Thanks and Regards,
Kinjal Raykarmakar

[2022-05-20 09:17] prakashiit commented on #160
Hi! I also faced the same issue related to `Error: Package subpath './lib/sidebars/generator'` but applying the given solution caused me to run into a different issue.

**Error faced**:
[code]
**Setup Steps:**
[code]
**Installed versions:**
node: v14.16.1
yarn: 1.22.15
npm: 6.14.12

I'm not able to understand how I can start solving this. Any help would be appreciated. Thanks!

[2022-05-20 15:19] ochhii1337 opened #180 "How to utilise proxy?"
Hi - Firstly thanks, I like what you have built here!

I have my docs running on a separate domain to the api. How can I change the url here?

![image](https://user-images.githubusercontent.com/14752426/169559114-9019c066-d342-41f5-ac32-e67a2f11f1be.png)

I have tried to replicate what is in the demo:

[code]

But still 'Execute' the requests try to call `http://localhost:3000/health`. How can I r

[2022-05-25 14:22] #180 closed

[2022-05-25 15:19] bourdakos1 commented on #180
The code you have here should redirect requests from `http://localhost:3000/api/health` to `https://my-api-site/health`

[2022-05-30 15:48] zia-inceptus opened #181 "Ability to use in an existing Docusaurus project"
Hi, first of all, thanks for this awesome package, it looks really promising but I wanted to know if I can add this plugin to an already created Docusarus project rather than creating a whole new project with this tool, I wasn't able to find any relevant docs for this. Thanks.

[2022-05-30 16:42] bourdakos1 commented on #181
Hey thanks :) you can install the preset “ docusaurus-preset-openapi” and update the Docusaurus config with relevant information. check out the demo folder to see a concrete example.

the readme for the preset package has more detailed info: https://github.com/cloud-annotations/docusaurus-openapi/tree/main/packages/docusaurus-preset-openapi

[2022-06-01 10:49] zia-inceptus commented on #160
The same issue is happening on Docusaurus beta.21.

[2022-06-01 10:55] zia-inceptus commented on #181
Thanks for the quick reply :)
It seems that the preset is not compatible with Docusaurus beta.21, I'm getting the same issue as mentioned in issue https://github.com/cloud-annotations/docusaurus-openapi/issues/160

[2022-06-02 16:23] baptisteArno commented on #160
@bourdakos1 any indication on how to potentially fix the issue for the latest version of docusaurus? I'd like to create a pull request

[2022-06-02 17:33] baptisteArno commented on #160
Even after setting the resolutions, deleting node_modules and yarn.lock, it still displays `"@docusaurus/core@2.0.0-beta.21"` in yarn.lock. and the error happens ...

[2022-06-02 19:40] bourdakos1 commented on #160
Docusaurus made a couple functions that we use private, so you can either make a pull request to Docusaurus making them public or make a pull request here reimplementing the logic of the private functions

[2022-06-04 14:40] DaxlinksG commented on #160
[ERROR] TypeError: (0 , utils_1.getDataFilePath) is not a function
    at Object.pluginContentBlog [as plugin] (C:\Users\TEMITAYO\Desktop\zeehDocs\node_modules\@docusaurus\plugin-content-blog\lib\index.js:39:66)

    After adding the resolution, This is the new error that gets generated, How to fix this please?

[2022-06-10 11:03] yzhe819 opened #183 "Illegal value for token color: #fff"
The illegal value of token colour issue happened in the code editor section.

## How to reproduce?
Started by trying to bootstrap a normal project.
[code]
And install url for url problem
[code]
Then fix the Package subpath './lib/sidebars/generator' issue by adding resolutions to package.json #160
[code]
And then yarn again

Then add the requestBody to the post method on the templete
[code]

Now,

[2022-06-10 14:40] bourdakos1 commented on #183
Excellent write up, this is super helpful ❤️

[2022-06-23 14:20] #160 closed

[2022-06-28 06:46] yzhe819 commented on #183
Hey @bourdakos1 can you reproduce this issue?

[2022-06-28 07:21] yzhe819 opened #190 "Loading failed for local openapi json file"
When I update my project from the old version "0.4.0" to the latest version "0.6.0", I can't start the project.
Below is a screenshot of the error.

<details>
<summary>screenshot</summary>

![图片](https://user-images.githubusercontent.com/68207314/176387508-c5487f37-1b6c-479b-8bc6-00e09c2769e6.png)
</details>

## How to reproduce
I started from the template one
[code]
Then update the package
[code]

[2022-06-28 14:31] bourdakos1 commented on #183
Yes, this is a know issue. Just haven’t had a chance to fix it yet. Feel free to open a PR if you want to take a crack at it

[2022-06-28 14:45] bourdakos1 commented on #136
We had a bit of a conversation about all of this here: https://github.com/cloud-annotations/docusaurus-openapi/issues/82

You can draft up an rfc if you want to get feedback on your approach before opening a PR

[2022-06-29 14:52] PouletteMC opened #191 "Package subpath './lib/sidebars/generator' is not defined by "exports""
I just installed this, yarn and pnpm failed to install the packages but somehow npm worked.

No matter what I try to do (start or build) I get this error

[2022-06-29 15:01] PouletteMC commented on #191
I tried yarn again and it installed, but I still can't get it started.

I tried adding the resolutions from #160 but that didn't help

[2022-07-01 10:21] danieleds commented on #136
@bourdakos1 I was trying to take a look at this but it seems to me that we'd have to duplicate a lot of logic from [docusaurus-plugin-content-docs](https://github.com/facebook/docusaurus/tree/main/packages/docusaurus-plugin-content-docs). Do you think there is a way of importing that functionality, or making the two plugins "talk"?

[2022-07-05 14:27] #191 closed

[2022-07-17 01:00] yzhe819 commented on #183
This issue has been resolved in the above pr #196.
For old versions, this can be easily fixed by setting the build command with the `--no-minify` flag.

Just change the build command in your `package.json` from the following:
[code]
By adding the `--no-minify` flag at the end.
[code]
Then, no crash issues.

[2022-07-17 01:00] #183 closed

[2022-07-21 17:40] ianberryman commented on #190
@yzhe819 I have the same issue on Windows. The absolute path of the api file is recognized as a valid URL (see https://github.com/nodejs/node/issues/34765). [`utils.isUrl()`](https://github.com/cloud-annotations/docusaurus-openapi/blob/main/packages/docusaurus-plugin-openapi/src/util.ts) needs to be changed to support absolute paths.

[2022-07-22 05:15] yzhe819 commented on #190
@ianberryman Thanks for your advice. I use regular expressions instead of URL to avoid this platform issue. Just waiting for code review. Feel free to take a look.

[2022-07-22 14:05] ianberryman commented on #190
@yzhe819 Nice, I'm going to pull your fork and use it until the PR is merged

[2022-07-22 17:07] #190 closed

[2022-07-26 16:18] stv8 opened #199 "Error trying to run via `npm start` on fresh project - `ERR_PACKAGE_PATH_NOT_EXPORTED`"
I'm on `node 16.16.0` and am encountering an error trying to run Docasaurus after a fresh install.

- I created the app via `npx create-docusaurus-openapi test-docasaurus`
- ran `npm start`
- see error

[code]

[2022-07-26 16:30] D063520 commented on #199
same here

[2022-07-27 03:08] sean-perkins opened #201 "Error: Can't resolve '@theme/IconArrow' with latest docusaurus beta.22 & RC"
Docusaurus recently had a breaking change to change the path for the icon assets.

PR for reference: https://github.com/facebook/docusaurus/pull/7740

Using this package with any version after beta.21 results in the following build error:
[code]

Solving this error is relatively simple, the path needs to be updated to:
[code]

However this requires updating the project dependency to the latest RC

[2022-07-29 17:34] isaiahdahl commented on #199
same here

[2022-07-30 10:19] koladev32 commented on #199
I have the same errors. I tried to switch to a different Node version and `@docusaurus/core` version too. But still having the same issue.

[2022-07-30 13:59] bourdakos1 commented on #199
Can you share your package.json?

[2022-07-31 01:25] yzhe819 commented on #199
I think the problem is caused by an older version of package 0.4.0 on the template, but @docusaurus/core has been updated to 21. I have previously updated the package to the latest 0.6.0 before. https://github.com/cloud-annotations/docusaurus-openapi/pull/195

@bourdakos1 Can you post a new release? It should fix the problem.

[2022-07-31 01:38] bourdakos1 commented on #199
@yzhe819 if you follow the doc here: https://github.com/cloud-annotations/docusaurus-openapi/tree/main/scripts

and make a PR similar to this one: https://github.com/cloud-annotations/docusaurus-openapi/pull/192

it will automatically release a new version when merged

[2022-08-02 02:47] #201 closed

[2022-08-02 16:40] fuchien commented on #199
same here

[2022-08-03 07:29] lerela commented on #199
If you need a hack to run locally before a new version is published (please don't deploy your doc that way):

0. `npx create-docusaurus-openapi test-docusaurus`
1. bump `docusaurus-preset-openapi` to 0.6.0 and `@docusaurus/core` to `^2.0.0` in package.json
2. `yarn install && yarn add url`
3. `cd node_modules && grep -rl IconArrow . | xargs sed -i 's/@theme\/IconArrow/@theme\/Icon\/Arrow/g'`
4. `c

[2022-08-03 08:20] yzhe819 opened #205 "Error: Debug Failure. False expression: Non-string value passed to `ts.resolveTypeReferenceDirective`"
Failed to create new version.
When I follow the document to create a new pre-release, the code throws an error.

<details>
<summary>screenshot</summary>

![图片](https://user-images.githubusercontent.com/68207314/182559522-26939386-faff-41c8-9acf-a53cb35a1205.png)
</details>

Am I missing any steps or settings?

[2022-08-03 09:09] doublex commented on #199
@lerela
This works!

[2022-08-03 09:35] yzhe819 commented on #205
Update `ts-node` to fix this issue

[2022-08-03 22:28] #205 closed

[2022-08-04 05:04] bourdakos1 commented on #199
v0.6.1 has been released, thanks @yzhe819 🎉 feel free to reopen this issue if the new version doesn’t resolve the error

[2022-08-04 05:04] #199 closed

[2022-08-25 01:16] sean-perkins opened #210 "Proposal: Markdown Generation, Types, UI/UX Overhaul"
I have a couple different changes I think could benefit this project. Let me know if you would be open to these changes and I'd be happy to do the work of submitting PRs around them.

### 1. Refactor markdown generation to JSX

Currently the generation of markdown is handled through a custom utility defined in `docusaurus-plugin-openapi`. The implementation uses these to generate the independent s

[2022-08-26 02:08] sean-perkins commented on #210
Here is an example of what a redesign of the middle pane in the OpenAPI docs could look like for this plugin:

https://user-images.githubusercontent.com/13732623/186800885-4d2fac6f-7925-411f-973e-700b280119ae.mp4

In addition to upgraded visuals, we can also accomplish the same type of response previewing that you can see in the Readme example.

With this section upgraded, you can see how some of

[2022-08-27 16:08] semoal commented on #210
Just for adding context to this proposal, from my side didn't used yet this plugin because didn't match well the requirements I find relevant for my API clients. With the new design proposal will be perfectly FIT everything we need. Clean, informative and easy to try the API.
For me +100 to all the proposals @sean-perkins proposed here! gj

[2022-08-27 17:04] bourdakos1 commented on #210
This all sounds great to me 😁

[2022-08-31 09:51] arrigolupori commented on #210
@sean-perkins @bourdakos1 I'm also on board with the proposed changes and can contribute to smaller tasks with Sean if it would be of help. I want to use Docusaurus but want to ensure great support for the OpenAPI spec. This would tick all the points!

[2022-09-02 02:49] sean-perkins commented on #210
That would be awesome, thanks @arrigolupori. I should have a few PRs up by this weekend to tackle the higher level UI refactors. I am going to leave the form control UI alone at first, but will migrate that once the new main container UI is in place.

One thing that I am unaware of how to best solve for, is when moving the rendering into JSX, we lose the ability of rendering the OpenAPI spec infor

[2022-09-02 08:10] bourdakos1 commented on #210
A little background, when we first wrote this we used JSX to render everything. However, we ran into a handful of issues with the approach. The way we had it working was to save each piece of openapi content that could be formatted with markdown as a markdown file that Docusaurus would ingest, but this didn’t scale very well, it was a lot of piping and a lot of files generated. What we do now is b

[2022-09-02 08:32] bourdakos1 commented on #210
Here’s the PR where we made the change for reference #65

[2022-09-03 19:17] sean-perkins commented on #210
@bourdakos1 thank you for the added context, this helps a lot!

After reviewing other plugins, that PR and the overall challenge, I think we should adjust the goals here. I think we should still move as much of the rendering responsibility to JSX as possible. What this would look like is encapsulating the different sections in a JSX component, but continue to render it with the `create` utility fu

[2022-09-03 20:03] bourdakos1 commented on #210
Sounds good to me 😁 We had this idea at one point, but at the time of implementation MDX didn’t support JSX components with markdown content. However, I believe this might be a possibility with MDX2

[2022-09-08 14:49] jcolladosp opened #215 "Add Oauth2 authentication support"
Hi,
I'm using oauth2 authentication flow in my OpenApi spec:
[code]
Is it possible to make it compatible with docusuarus-openapi?
Right now I see this when I try to log in:
![image](https://user-images.githubusercontent.com/9121186/189153480-7c8efc3c-4128-4fe8-98df-e38f9df54f19.png)
There's no way to log in and get the token.
You can check  [Rapidoc](https://github.com/rapi-doc/RapiDoc) which is a

[2022-09-09 13:22] joanjane commented on #10
I was looking for the same. A json response example on each status code would be a great feature.

Do you have any plans adding this :) ?

[2022-09-14 01:51] sean-perkins commented on #210
@bourdakos1 is there anything I can do to help with the open pull requests (add additional documentation, tests, etc.)?

I have one more larger PR that I am working on (refactoring the status codes table UI), that I should have in later this week.

So far the assumptions around leaving the responsibility of rendering the inner markdown formatted contents to the openapi plugin, has been working gre

[2022-09-14 17:18] bourdakos1 commented on #210
Hey sorry I've been on vacation and haven't had a chance to take a look at them yet

[2022-09-27 21:21] searchableguy opened #217 "Support for nesting inside existing navigation sidebar"
Can you have existing navigation on the API page similar to redocusaurus demo in the picture?

<img width="1910" alt="CleanShot 2022-09-28 at 02 49 30@2x" src="https://user-images.githubusercontent.com/73341821/192637617-886ac0ab-8087-45a6-8d8f-7c413be8a9b6.png">

I looked through the existing issues and I found some talk about nesting support for multiple API files but nothing about using it with

[2022-09-29 17:34] bourdakos1 commented on #217
We don’t plan on adding a double sidebar like this. We support multiple api files and nesting through collapsing sections in a single sidebar. If you want a double sidebar I would recommend using redocusaurus. Is there a reason you were looking to use this plugin instead?

[2022-09-29 18:00] searchableguy commented on #217
Sorry, if I wasn't clear. I'm not asking for double sidebar and embedding it.

I meant to ask for support adding items to sidebar other than generated ones.

[2022-09-29 18:04] bourdakos1 commented on #217
Ooh I see, yes we support that. It’s not well documented at the moment, but I can provide some more information on how to do that shortly

[2022-09-29 18:07] searchableguy commented on #217
Thank you so much. I couldn't find anything about it in the examples and issue so I assumed it wasn't available.

[2022-09-29 22:38] bourdakos1 commented on #217
Take a look at this PR #193 for some info on how to structure things to customize the sidebar. There's also an example in the demo with custom md pages added

[2022-09-29 22:42] bourdakos1 commented on #217
Oh sorry looks like we haven't released a new version since that PR. If you want, you can follow the doc here: https://github.com/cloud-annotations/docusaurus-openapi/tree/main/scripts

and make a PR similar to this one: https://github.com/cloud-annotations/docusaurus-openapi/pull/192

Then I will approve & merge which will automatically release a new version of the plugin

[2022-10-05 10:44] searchableguy commented on #217
@bourdakos1 I checked the example.

I might be missing it but it does not show to use a custom sidebar.js for the API page. Could you clarify this for me?

[2022-10-05 13:46] bourdakos1 commented on #217
Ah I see, we don’t have a way to add links. Happy to accept a PR that adds the feature though

[2022-10-10 06:45] jorsang1 opened #218 "Show response status code after executing a request"
When executing a request it would be nice to provide information about the status code of the response together with the payload.
Sometimes the response is a 204 "no content" and we are totally blind to those cases.

[2022-10-29 15:40] dabeeeenster opened #222 "Error when running with Docusaurus v2.2.0"
Hi

Upgrading to Docusaurus v2.2.0 I get this:

[code]

The PR we have on this if you want to reproduce is here: https://github.com/Flagsmith/flagsmith-docs/pull/221

[2022-11-08 02:54] sean-perkins commented on #222
I've identified the regression in Docusaurus 2.2.0 that is causing this issue. I've reported that bug here: https://github.com/facebook/docusaurus/issues/8298.

I'll submit two PRs:
- One to this repository to add a back-fix to allow compatibility with Docusaurus 2.2.0
- One to Docusaurus to fix the breaking change for future releases

[2022-11-08 03:41] #222 closed

[2022-11-08 08:26] dabeeeenster commented on #222
Confirmed as fixed!

[2022-11-10 12:39] yzhe819 opened #226 "Add expand button to view returned results using full screen"
When executing the request, it is a good idea to provide a button that previews the returned results in full screen. For example, when the data returned by the server is huge, providing a full-screen preview can facilitate developers to preview the results.

For example:
![pic](https://user-images.githubusercontent.com/68207314/201093670-5fefe937-f6c9-47ee-8005-f67a99b04da8.png)

One idea is to pr

[2022-11-18 21:31] xgp opened #227 "Page crash because of useColorMode"
![image](https://user-images.githubusercontent.com/244253/202806245-352a8320-10eb-42f0-8b47-d925ef7e82bb.png)

On upgrading to docusaurus 2.2.0 and docusaurus-preset-openapi 0.6.3, i get the error when navigating the API methods:
[code]

[2022-11-18 21:36] xgp opened #228 "Default server renders incorrectly"
My openapi spec file: https://github.com/p2-inc/phasetwo-docs/blob/master/openapi.yaml
The result: https://phasetwo.io/api

For example in this page https://phasetwo.io/api/get-organizations the server section doesn't render with the defaults, and the values are `undefined` in the curl/code examples:
![image](https://user-images.githubusercontent.com/244253/202806703-afaf8f65-d0b9-4747-993f-f78447

[2022-11-24 16:13] mathieu-souchet opened #231 "Support for external OpenAPI spec"
Hi all,

Today I tried to upgrade the versions of the NPM modules of my documentation with `docusaurus-preset-openapi`and i am facing following issue :

[code]

My plugin configuration is as following :

[code]

It is curious because with following npm depencies versions my doc is running well :

[code]

And with following versions it doesn't work :

[code]

I'm afraid of an answer like "Sorry but

[2022-11-28 13:06] baptisteArno opened #232 "Paths are rendered twice when converting my schema file to `_spec_.json`"
For some reason, when I rename my file to `_spec_.json`, it renders all the paths twice:

<img width="297" alt="CleanShot 2022-11-28 at 14 03 23@2x" src="https://user-images.githubusercontent.com/16015833/204284585-ad732f1d-b591-44c4-ac63-34f246cfadaa.png">

I couldn't reproduce on the example folder of the repo, though, it works well. So that might be an issue with my config. But I can't figure o

[2022-11-28 13:58] baptisteArno commented on #232
After digging in the code base it seems that `GlobExcludeDefault` doesn't exclude `yaml` or `json` files:

[code]

So it's being added twice due to:

[code]

I wonder why it works fine in the example project though 🤔

[2022-11-28 18:41] #232 closed

[2022-11-29 19:41] sboudouk opened #234 "Possible issue: Image response is not displayed correctly in execute example"
Hi.

Thanks for this package. It's very useful.

However, testing my openapi.json:

- When the return of the api call is json/text, everything works fine.
- When the return of the api call is an image (png,jpg/jpeg...), the image is not displayed

<img width="468" alt="Screenshot 2022-11-29 at 20 41 21" src="https://user-images.githubusercontent.com/9112218/204632066-fe5f84e3-dd7d-4bcf-a609-9dd154

[2022-11-29 19:59] bourdakos1 commented on #234
We don’t currently have support for rendering various data other than plain text

[2022-11-29 20:06] sboudouk commented on #234
Thanks for the fast answer. Anything planned to support this, or at least, disable the Execute button ?